*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background: linear-gradient(to left, #000000, #434343); 
    flex-direction: column;
}
.padre2{
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, #000000, #434343); 
}

.padre{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin-right: 28%;
    font-family: 'Italianno', cursive;
    font-size: 150px;
    color: aliceblue;
}
ul{
    list-style: none;
    display:flex;
    width: 50%;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.first{
    display: flex;
    justify-content: center;
    width: 100%;
}
.first img{
    width: 100%;
}
.second{
    width: 100%;
    background: linear-gradient(to left, #000000, #434343); 
}
.second h2{
    font-family: 'Sansita Swashed', cursive;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.second p{
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 5px;
    font-family: 'Delius', cursive;
    font-size: 20px;
}
footer{
    display: flex;
    background: linear-gradient(to left, #000000, #434343); 
    flex-direction: column;
}
.logo1{
    display: flex;
    justify-content: flex-end;
}
.footer1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
span{
    color: rgb(255, 255, 255);
    font-family: 'Delius', cursive;
    font-size: 20px;
    margin-right: 20%;

}

